<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Index</title>
</head>

<body>
    <div class="w3-bar-block">
        <div class="w3-container w3-margin w3-padding-small">
            <h1>Welcome</h1>
        </div>
        <div class="w3-container w3-margin w3-cell">
            <div class="w3-panel w3-leftbar w3-border-white w3-hover-border-green w3-padding-small">
                <div><i class="fa fa-key w3-xlarge"></i></div><a href="{% url 'admin:index' %}"
                    class="w3-btn w3-blue">Admin Area</a>
            </div>
            <div class="w3-panel w3-leftbar w3-border-white w3-hover-border-green w3-padding-small">
                <div><i class="fa fa-male w3-xlarge"></i></div><a href="{% url 'select_user' %}"
                    class="w3-btn w3-blue">Notify a User</a>
            </div>
            <div class="w3-panel w3-leftbar w3-border-white w3-hover-border-green w3-padding-small">
                <div><i class="fa fa-address-book-o w3-xlarge"></i></div><a href="{% url 'users' %}"
                    class="w3-btn w3-blue">View the current users</a>
            </div>
        </div>
    </div>
</body>

</html>
