<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>User List</title>
</head>

<body>
    <div class="w3-bar-block">
        <div class="w3-container">
            <h1>Current Users</h1>
        </div>
        <div class="w3-container">
            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="w3-panel w3-leftbar w3-border-white w3-hover-border-green w3-padding-small">
            <div><i class="fa fa-key w3-xlarge"></i></div><a href="{% url 'admin:index' %}"
                class="w3-btn w3-blue">Admin Area</a>
        </div>
        
        <div class="w3-panel w3-leftbar w3-border-white w3-hover-border-green w3-padding-small"><div><i class="fa fa-home w3-xlarge"></i></div><a href="{% url 'Index' %}" class="w3-btn w3-blue">Go Back Home</a></div>
    </div>
</body>

</html>